@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*,*::after,*::before{ /* glide js kullandığım için sayfa kaydığında da aynı görünmesi için before after a da css uyguladım*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;/* genelde kullanılan oran bu olduğu için 62.5 kullandım.*/
}
body{
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem; /* 1 rem =16 px çoğu sitede kullanılan oran 1.6 rem dir.*/
    background-color: #fff;
    color: black;
    font-style: normal;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type:none;
}
.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
}
.d-flex{
    display: flex;
    align-items: center;
}
.header{
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}
.top-nav{
    background-color: rgb(192, 12, 132);
    font-size: 1.3rem;
    color: #fff;  
}
.top-nav div{
    justify-content: space-between;
    height: 4.5rem;
    
}
.top-nav a{
    padding: 0 0.5rem;
    color: #fff;
}
.navigation{
    height: 6rem;
    line-height: 6rem;
}
.nav-center{
    justify-content: space-between;
}
.nav-center .nav-item:not(:last-child){
    margin-right: 0.5rem;
}
.nav-center .nav-link{
    font-size: 1.8rem;
    padding: 1rem;
}
.nav-center .nav-link:hover {
    color: green;
}
.icon{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    color: #555;
    position: relative;
}
.icon:not(:last-child){
    margin-right: 0.5rem;
}
.icon span{
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: green;
    color: #fff;
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
}
.nav-list .icons{
    display: none;
}
.nav-center .hamburger{
    display: none;
    font-size: 2.3rem;
    color:black;
    cursor: pointer;
}
@media(max-width:768px){
    .nav-list{
        position: fixed;
        top: 12%;
        left: -100%;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        height: 100%;
        max-width: 35rem;
        width: 0;
        z-index: 100;
        transition: all 300ms ease-in-out;
    }
    .nav-list.open{
        left: 0;
        width: 100%;
    }
    .nav-list .nav-item{
        margin: 0 0 1rem 0;
        width: 100%;
    }
    .nav-list .nav-link{
        font-size: 2rem;
        color: black;
    }
    .nav-center .hamburger{
        display: block;
        font-size: 3rem;
    }
    .icons{
        display: none;
    }
    .nav-list .icons{
        display: flex;
    }
    .top-nav ul{
        display: none;
    }
    .top-nav div{
        justify-content: center;
        height: 3rem;
    }

}
.about-ulf{
    background: #0aa149;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;/*ekranda iç içe geçmiş şeyler ortalandı*/

}
.about-wrapper{
    height: 100vh;
}
.about-ulf-content>div{
    background: #085c21;
    padding: 5rem 5rem 3rem 5rem;
    text-align: center;
    justify-content: center;
}

.about-img img{
    display: block;/* resmi alta alacaktır*/
    width: 220px;
}
.about-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
}


.about-ulf-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.7rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
}
.about-ulf-content h3{
    margin-top: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;

}
.icn{
    justify-content: center;
    background: white;
    display: flex;
    padding: 1rem 0;
    
}
.icn li{
    background: #0dc945;
    list-style-type: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    transition: all cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;   
    cursor: pointer;  
}
.icn li:hover{
    background: rgb(201, 29, 123);
    color: black;
}
.about-urg{
    background:white;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;

}
.about-urg h1{
    box-shadow: 0px black;
    text-transform: uppercase;
    font-size: 6.5rem;
    letter-spacing: 2px;
    font-weight: bold;

}
.about-urg h2{
    font-weight: bold;
    letter-spacing: 1px;
}
.about-links{
    display: flex;
    margin: 2rem 0;
}
.mlink{
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 18px;
    border: 2.5px solid black;
    padding: 0.65rem 0;
    width: 150px;
    margin: 0 1rem;
}
.mlink:hover{
    background: rgb(15, 221, 60);
    border-color: rgb(7, 209, 115);
    color: black;
}
.about-prg p{
    padding: 0.5rem;
    font-weight: normal;
    font-size: 1.5rem;
}
@media screen and (min-width:992px) {
    .about-wrapper{
            display: grid;
            grid-template-columns: repeat(2,1fr);
    }
    .about-ulf-content{
        position: absolute;
        right: 250px;
    }
    .about-ulf{
        position: relative;
    }
}